<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Post</title>
</head>
<body>
<h1>게시판 글 수정</h1>
<form th:action="@{/posts/update/{postId}(postId=${post.postId})}" method="post" th:object="${post}">
    <input type="text" th:field="*{postId}" readonly>
<!--    for="title"에 그어지는 빨간줄은 id가 주어지지 않아서 발생. 무시해도 됨. (th:field에 id, name, value가 포함되어있기 때문에)-->
    <label for="title">제목</label>
    <input type="text" th:field="*{title}" readonly>
    <label for="body">내용</label>
    <input th:field="*{body}">
    <input type="text" name="useId" th:value="${post.useId}" hidden>
    <input type="submit" value="수정">

</form>
</body>
</html>