<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post List</title>
</head>
<body>
    <h1>📜게시글 목록📜</h1>
    <hr>
    <table>
        <tr>
            <th>글번호</th>
            <th>제목</th>
            <th>좋아요</th>
            <th>stat</th>
        </tr>
        <tr th:each="post, stat : ${allPosts}">
            <td >
                <a th:href="@{/posts/{postId}(postId=${post.postId})}" th:text="${post.postId}"></a>
            </td>
            <td >
                <a th:href="@{/posts/{postId}(postId=${post.postId})}" th:text="${post.title}"></a>
            </td>
            <td th:text="${post.likes}"></td>
            <td th:text="${stat.count}"></td>
            <td>
                <form th:action="@{/posts/delete/{postId}(postId=${post.postId})}" method="post">
                    <input type="submit" value="삭제">
                </form>
            </td>
        </tr>
    </table>
    <button th:onclick="|location.href='@{/posts/add}'|">등록하기</button>
</body>
</html>